label {
  display: block;
  font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
  margin: .4rem 0;
}
.form-control{
  position: relative;
  display: block;
  padding: 10px;
}
.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.state-container-dropdown{
  z-index: 1;
  width: 30%;
  height: 150px;
  max-height: 300px;
  background-color: whitesmoke;
  overflow-y: auto ;
}

.states{
  padding: 10px;
  font-family: sans-serif;
  color: lightcoral;
}
.states:hover{
  color: lightgray;
  background-color: lightcoral;
}
#search:hover{

}
