
<div class="header" xmlns="http://www.w3.org/1999/html">
  <nav class="nav">
    <ul class="nav">
      <div *ngIf="isAuth " class="nav-item"> <a routerLink="/auth" (click)="onLogOut()">Logout</a></div>
      <div class="nav-item"> <a routerLink="/auth" *ngIf="!isAuth" routerLinkActive="active">Login</a></div>
      <div class="nav-item"> <a routerLink="/trip-main" *ngIf="isAuth" routerLinkActive="active">Find Trips</a></div>
      <div class="nav-item"><a routerLink="/trips-table" routerLinkActive="active">View Trips</a></div>

    </ul>
  </nav>

</div>
